
.App{
  display: flex;
  margin-top: 20vh;
  margin-left: 55ch;
  flex-direction: column;
  height: 280px;
  width: 300px;
  border: 0.8px solid grey;
  align-items: center;
  justify-content: space-around;
  box-shadow: -8px -8px 30px blue, 10px 10px 30px red;
}



input{
  height: 28px;
}

.buttons{
  display: flex;
  width: 170px;
  justify-content: space-between;
}
button{
  height: 26px;
  align-items: center;
  background-color: black;
  color: white;
  width: 30px;
  border: none;
}

button:hover{
  font-size: 20px;
  box-shadow: black 1px 1px 1px;
}
